.cards-main{
    min-width: 250px;
    min-height: 250px;
    width: 250px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 0.7em;
    border: 2px solid #1c73be;
    color: white;
    transition: all 0.5s ease-in-out;
    margin-right: 16px;
}

.cards-main:hover{
    transform: scale(1.05);
}

.cards-main > div {
    width: 100%;
    padding-left: 10px;
}
.img-container{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    min-height: 100px;
    border-radius: 10px;
}

.especificoes{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 800px){
    .cards-main{
        min-width: 300px;
        min-height: 300px;
        width: 270px;
        height: 270px;
    }
}