.individual-container{
    height: 100%;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    padding: 10px;
}
.individual-container > div {
    width: 90%;
    margin: 8px 0;
    color: white;
    background-color: transparent;
}
.individual-infos{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    order: 3;
    flex-wrap: wrap;
    border: 1px solid var(--base-color);
    padding-left: 8px;
}
.individual-infos > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.individual-infos > div > p {
    margin-right: 20px;
}
