*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.header-nav{
    margin: 0 auto;
    display: flex;
    width:90%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
    135deg,
    rgba(255,255,255,0.25),
    rgba(255,255,255,0.05)
    );
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.header-nav > ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.logo-header{
    font-size: x-large;
}

@media (max-width: 660px){
    .header-nav > ul {
        display: none;
    }
}
