.input-main {
  position: relative;
  height: 40px;
  width: 250px;
}

.text-input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 12px; /* espaço para o ícone */
  border-radius: 20px;
  box-sizing: border-box;
}

.search-logo {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%); /* centraliza verticalmente */

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none; /* não bloqueia clique no input */
}
