.input-main {
  position: relative;
  height: 30px;
  width: 150px;
}

.text-input {
  width: 100%;
  height: 100%;
  padding: 0 40px 0 12px; 
  border-radius: 20px;
  box-sizing: border-box;
  background-color:rgba(255,255,255,0.05);
  color: white;
}

.search-logo {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%); 

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: none; 
}
