/* FUNDO ESCURO */
.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.sidebar-overlay.show {
  opacity: 1;
  pointer-events: all;
}

/* CONTAINER DA SIDE BAR */
.sidebar-container {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 0;
  max-width: 900px;
  width: 250px;
  height: 100vh;
  background: black;
  box-shadow: 2px 0 15px rgba(0,0,0,0.15);
  transform: translateX(-100%);
  transition: transform .35s ease;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
  overflow-x: scroll;
  color: #1c73be;
}

.sidebar-container.show {
  transform: translateX(0);
}

.options-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    gap: 10px;
}