:root{
    --base-color : #1c73be;
}
body{
    background-image: linear-gradient(to bottom, #000000 , rgb(12, 12, 12));
    width: 100%;
}
html{
    font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}